body {
  background: #085078;
  background: -webkit-linear-gradient(to right, #85D8CE, #085078);
  background: linear-gradient(to right, #85D8CE, #085078);
  padding-bottom: var(--footer-height);
}

h1 {
  text-align: center;
  font-size: 50px;
  font-family: 'Sintony';
  font-variant: small-caps;
  font-weight: lighter;
  padding-top: 25px;
}

#alignment {
  padding-top: 40px;
}

.calculator {
  width: 450px;
  border-radius: 5px;
  padding: 20px;
  background-color: hsl(0, 0%, 25%);
}

.input {
  width: 400px;   height: 50px;
  border-radius: 0px;
  border: 1px solid hsl(0, 0%, 0%);
  background-color: #333333;
  color: #d9d9d9;
  padding: 0 5px 0 5px;
  margin: 0 0px 10px 0px;
  font-size: 30px;
}

.button {
  margin: 3px;
  width: 63px;
  border: 1px solid hsl(0, 0%, 5%);
  height: 25px;
  border-radius: 4px;
  color: hsl(0, 0%, 85%);
  background-color: hsl(0, 0%, 10%);
  cursor: pointer;
  outline: none;
}

.basic-mode {
  width: 415px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.complex-mode {
  width: 415px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.equal-sign {
  background-color: #38A2AB;
  width: 133px;
}

.toggle-button {
  border: none;
  background-color: hsl(0, 0%, 25%);
  cursor: pointer;
  outline: none;
}

#app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button::-moz-focus-inner {
  border-color: transparent;
}

:root{
  --footer-height:60px;
}

footer {
  height: var(--footer-height);
  color: #262DB2;
  position: fixed;
  bottom: 0;
}

p {
  color: black;
}
